stages:
  - build
  - test

cache:
  paths:
    - externallibs/

build:
  stage: build

  script:
    ./buildFromScratch.sh astra_trunk/trunk --build_external_libs --configlibs --buildlibs --configastra --buildastra

  artifacts:
    paths:
      - src/astra
      - src/Makefile

test:
  stage: test

  script:
    ./buildFromScratch.sh astra_trunk/trunk --createtcl --createdb --runtests
