stages:
  - build
  - deploy
  - deploy-db

variables:
  GIT_CLONE_PATH: $CI_BUILDS_DIR/$CI_COMMIT_REF_SLUG

build:ora:
  stage: build

  script:
    ./buildFromScratch.sh astra_trunk/trunk

  variables:
    ENABLE_ORACLE: "1"

  artifacts:
    name: "tclmonlog"
    paths:
      - src/tclmon.log
    when: on_failure

  cache:
    key: "$CI_COMMIT_REF_SLUG"
    paths:
      - externallibs/

  except:
    changes:
      - .gitlab-ci.yml
      - docker/*


build:noora:
  stage: build
  only:
    - trunk

  variables:
    DOCKERFILE: "./docker/Dockerfile"
    PG_SYSPAROL: postgres://postgres:manager@172.17.0.1/postgres
    PG_CONNECT_STRING: postgres://astra_docker:astra@172.17.0.1
    PG_CONNECT_STRING_ARX: postgres://astra_docker_arx:astra@172.17.0.1
    ENABLE_ORACLE: "0"

  before_script:
   - export CONTAINER_IMAGE="$CI_REGISTRY_IMAGE:${CI_COMMIT_TAG:-$CI_COMMIT_REF_SLUG}"
   - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY

  script:
    - docker build -t "${CONTAINER_IMAGE}" -f "${DOCKERFILE}" .
    - docker run --rm -e PG_CONNECT_STRING -e PG_CONNECT_STRING_ARX -e PG_SYSPAROL "${CONTAINER_IMAGE}" ./buildFromScratch.sh no/ora --createtcl --createdb --runtests
    - docker push "${CONTAINER_IMAGE}"

deploy:
  stage: deploy
  only:
    - trunk
  before_script:
    - cd /home/astra
  script:
    - docker-compose up -d
    - docker-compose logs
  dependencies:
    - build:noora

deploy-db:
  stage: deploy-db
  when: manual
  environment:
    name: trunk
    action: start
  dependencies:
    - build:noora
  variables:
    DOCKERFILE: "./docker/Dockerfile"
    PG_CONNECT_STRING_ARX: postgres://astra_demo_arx:astra@172.17.0.1
    PG_CONNECT_STRING: postgres://astra_demo:astra@172.17.0.1
    PG_SYSPAROL: postgres://postgres:manager@172.17.0.1/postgres
    ENABLE_ORACLE: "0"
  only:
    - trunk
  before_script:
    - cd /home/astra
    - export CONTAINER_IMAGE="$CI_REGISTRY_IMAGE:${CI_COMMIT_TAG:-$CI_COMMIT_REF_SLUG}"
  script:
    - docker-compose stop
    - docker run --rm -e PG_CONNECT_STRING -e PG_CONNECT_STRING_ARX -e PG_SYSPAROL ${CONTAINER_IMAGE} ./bin/demo.sh
    - docker-compose restart
    - docker-compose logs
