stages:
  - build
  - test

build:
  stage: build
  script:
    ./buildFromScratch.sh astra_trunk/trunk --build_external_libs --configlibs --buildlibs --configastra --buildastra 

test:
  stage: test
  dependencies: 
    - build
  script:
    ./buildFromScratch.sh astra_trunk/trunk --createtcl --createdb --runtests
