src/astra
/tick_serv.*
/configure
/aclocal.m4
/Makefile.in
/Doxyfile
/autom4te.cache
/*.ignore_pcs
/latex
/html
/xml
*.a
*.log
*.lo
*.config
*.autosave
*.swp
astra_msg_types.dat
astra_msg_types.etp
edi_astra_msg_types.h
locallibs/shared/src/msg.h
locallibs/libtimatic/lib/
include.mk
pkgIndex.tcl
ntlmapp
sql/bases/pg/1Tab/now.run
sql/bases/pg/1Tind/now.run
sql/bases/pg/2Constr/now.run
sql/bases/pg/3Seq/now.run
astra.tcl
date_time_zonespec.csv
nosir.tcl
/*.creator
/*.creator.user
/*.files
/*.includes
src/xplogs/
*.log.bfs
.deps
*~
.libs
.la
stamp-h1
/config.h
/config.h.in
/config.status
/libtool
/locallibs/env_file
/locallibs/pkgconfig
/ltmain.sh
*.la
Makefile.in
*.o
testsvg
config.guess
config.sub
/src/*.xml
*log
ok
*.bad
/etlr/etlr
/ifaces/connection.mk
/ifaces/iparts/connection.mk
/src/etick
/src/local_after.tcl
/src/local_before.tcl
/src/profiles/
*.pid
sirena_run_time.txt
/src/tscriptc
/src/autotests.cc
.svn
config.guess
config.sub
oldlog*
autom4te.cache
Makefile
locallibs/eticklib/config.status
aclocal.m4
libtool.m4
ltoptions.m4
ltversion.m4
lt~obsolete.m4
libtool
configure
config.status
fin_pwd
testapp
depcomp
install-sh
missing
mkinstalldirs
confdefs.h
serverlibconfig
ltsugar.m4
config.h
config.h.in
tick_serv_trunk.creator.user.2.5pre1
src/precompile.gch
locallibs/serverlib/src/rsyslog.conf
/src/Cores
/src/statistics
connection.mk
locallibs/serverlib/conftest.c
locallibs/config.cache
locallibs/edilib/src/edimsgout.dat
locallibs/edilib/include/edilib/edi_err.h
/locallibs/serverlib/src/supervisor
/locallibs/serverlib/src/dispatcher
/locallibs/tscriptc/tscriptc
/src/supervisor
/src/dispatcher
/src/monitor.port
*.creator.*
ltmain.sh
compile
*.pyc
http/etkt_disp_service/flask/
*.sublime-*
settings.py
compile
locallibs/edilib/compile
locallibs/eticklib/compile
locallibs/jxtlib/compile
locallibs/libtlg/compile
locallibs/libtypeb/compile
locallibs/serverlib/compile
locallibs/external_env_file
locallibs/shared/sharedconfig
externallibs/
NEWS
README
AUTHORS
COPYING
INSTALL
TODO
ChangeLog
astra_qt_prj/
nohup.out
DEADJOE
.vscode
GPATH
GRTAGS
GSYMS
GTAGS
build_all

